IF DB_ID('TravelExperts') IS NOT NULL
	DROP DATABASE TravelExperts

CREATE DATABASE TravelExperts
GO


USE [TravelExperts]
GO
/****** Object:  Table [dbo].[Agencies]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agencies](
	[AgencyId] [int] IDENTITY(1,1) NOT NULL,
	[AgncyAddress] [nvarchar](50) NULL,
	[AgncyCity] [nvarchar](50) NULL,
	[AgncyProv] [nvarchar](50) NULL,
	[AgncyPostal] [nvarchar](50) NULL,
	[AgncyCountry] [nvarchar](50) NULL,
	[AgncyPhone] [nvarchar](50) NULL,
	[AgncyFax] [nvarchar](50) NULL,
 CONSTRAINT [PK_Agencies] PRIMARY KEY CLUSTERED 
(
	[AgencyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agencies] ON
INSERT [dbo].[Agencies] ([AgencyId], [AgncyAddress], [AgncyCity], [AgncyProv], [AgncyPostal], [AgncyCountry], [AgncyPhone], [AgncyFax]) VALUES (1, N'1155 8th Ave SW', N'Calagary', N'AB', N'T2P1N3', N'Canada', N'4032719873', N'4032719872')
INSERT [dbo].[Agencies] ([AgencyId], [AgncyAddress], [AgncyCity], [AgncyProv], [AgncyPostal], [AgncyCountry], [AgncyPhone], [AgncyFax]) VALUES (2, N'110 Main Street', N'Okatokes', N'AB', N'T7R3J5', N'Canada', N'4035632381', N'4035632382')
SET IDENTITY_INSERT [dbo].[Agencies] OFF
/****** Object:  Table [dbo].[Affiliations]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Affiliations](
	[AffilitationId] [nvarchar](10) NOT NULL,
	[AffName] [nvarchar](50) NULL,
	[AffDesc] [nvarchar](50) NULL,
 CONSTRAINT [aaaaaAffiliations_PK] PRIMARY KEY NONCLUSTERED 
(
	[AffilitationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Affiliations] ([AffilitationId], [AffName], [AffDesc]) VALUES (N'ACTA', N'Association of Canadian Travel Agents', NULL)
INSERT [dbo].[Affiliations] ([AffilitationId], [AffName], [AffDesc]) VALUES (N'ACTANEW', NULL, NULL)
INSERT [dbo].[Affiliations] ([AffilitationId], [AffName], [AffDesc]) VALUES (N'ACTANEWP', NULL, NULL)
/****** Object:  Table [dbo].[Classes]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassId] [nvarchar](5) NOT NULL,
	[ClassName] [nvarchar](20) NOT NULL,
	[ClassDesc] [nvarchar](50) NULL,
 CONSTRAINT [aaaaaClasses_PK] PRIMARY KEY NONCLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Classes] ([ClassId], [ClassName], [ClassDesc]) VALUES (N'BSN', N'Business Class', NULL)
INSERT [dbo].[Classes] ([ClassId], [ClassName], [ClassDesc]) VALUES (N'DBL', N'Double', NULL)
INSERT [dbo].[Classes] ([ClassId], [ClassName], [ClassDesc]) VALUES (N'DLX', N'Delux', NULL)
/****** Object:  Table [dbo].[Fees]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fees](
	[FeeId] [nvarchar](10) NOT NULL,
	[FeeName] [nvarchar](50) NOT NULL,
	[FeeAmt] [money] NOT NULL,
	[FeeDesc] [nvarchar](50) NULL,
 CONSTRAINT [aaaaaFees_PK] PRIMARY KEY NONCLUSTERED 
(
	[FeeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Fees] ([FeeId], [FeeName], [FeeAmt], [FeeDesc]) VALUES (N'BK', N'Booking Charge', 25.0000, NULL)
INSERT [dbo].[Fees] ([FeeId], [FeeName], [FeeAmt], [FeeDesc]) VALUES (N'CH', N'Change', 15.0000, NULL)
INSERT [dbo].[Fees] ([FeeId], [FeeName], [FeeAmt], [FeeDesc]) VALUES (N'GR', N'Group Booking', 100.0000, NULL)
/****** Object:  Table [dbo].[Employees]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmpFirstName] [nvarchar](20) NOT NULL,
	[EmpMiddleInitial] [nvarchar](5) NULL,
	[EmpLastName] [nvarchar](20) NOT NULL,
	[EmpBusPhone] [nvarchar](20) NOT NULL,
	[EmpEmail] [nvarchar](50) NOT NULL,
	[EmpPosition] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Employees] ([EmpFirstName], [EmpMiddleInitial], [EmpLastName], [EmpBusPhone], [EmpEmail], [EmpPosition]) VALUES (N'Janet', NULL, N'Delton', N'(403) 210-7801', N'janet.delton@travelexperts.com', N'Senior Agent')
INSERT [dbo].[Employees] ([EmpFirstName], [EmpMiddleInitial], [EmpLastName], [EmpBusPhone], [EmpEmail], [EmpPosition]) VALUES (N'Judy', NULL, N'Lisle', N'(403) 210-7802', N'judy.lisle@travelexperts.com', N'Intermediate Agent')
INSERT [dbo].[Employees] ([EmpFirstName], [EmpMiddleInitial], [EmpLastName], [EmpBusPhone], [EmpEmail], [EmpPosition]) VALUES (N'Dennis', N'C.', N'Reynolds', N'(403) 210-7843', N'dennis.reynolds@travelexperts.com', N'Junior Agent')
/****** Object:  Table [dbo].[Packages]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[PackageId] [int] IDENTITY(1,1) NOT NULL,
	[PkgName] [nvarchar](50) NOT NULL,
	[PkgStartDate] [datetime] NULL,
	[PkgEndDate] [datetime] NULL,
	[PkgDesc] [nvarchar](50) NULL,
	[PkgBasePrice] [money] NOT NULL,
	[PkgAgencyCommission] [money] NULL,
 CONSTRAINT [aaaaaPackages_PK] PRIMARY KEY NONCLUSTERED 
(
	[PackageId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Packages] ON
INSERT [dbo].[Packages] ([PackageId], [PkgName], [PkgStartDate], [PkgEndDate], [PkgDesc], [PkgBasePrice], [PkgAgencyCommission]) VALUES (1, N'Caribbean New Year', CAST(0x0000973500000000 AS DateTime), CAST(0x0000973F00000000 AS DateTime), N'Cruise the Caribbean & Celebrate the New Year.', 4800.0000, 400.0000)
INSERT [dbo].[Packages] ([PackageId], [PkgName], [PkgStartDate], [PkgEndDate], [PkgDesc], [PkgBasePrice], [PkgAgencyCommission]) VALUES (2, N'Polynesian Paradise', CAST(0x0000972800000000 AS DateTime), CAST(0x0000973000000000 AS DateTime), N'8 Day All Inclusive Hawaiian Vacation', 3000.0000, 310.0000)
INSERT [dbo].[Packages] ([PackageId], [PkgName], [PkgStartDate], [PkgEndDate], [PkgDesc], [PkgBasePrice], [PkgAgencyCommission]) VALUES (3, N'Asian Expedition', CAST(0x000097C100000000 AS DateTime), CAST(0x000097CF00000000 AS DateTime), N'Airfaire, Hotel and Eco Tour.', 2800.0000, 300.0000)
SET IDENTITY_INSERT [dbo].[Packages] OFF
/****** Object:  Table [dbo].[Products]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProdName] [nvarchar](50) NOT NULL,
 CONSTRAINT [aaaaaProducts_PK] PRIMARY KEY NONCLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ProductId] ON [dbo].[Products] 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON
INSERT [dbo].[Products] ([ProductId], [ProdName]) VALUES (1, N'Air')
INSERT [dbo].[Products] ([ProductId], [ProdName]) VALUES (2, N'Attractions')
INSERT [dbo].[Products] ([ProductId], [ProdName]) VALUES (3, N'Car rental')
SET IDENTITY_INSERT [dbo].[Products] OFF
/****** Object:  Table [dbo].[Rewards]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rewards](
	[RewardId] [int] NOT NULL,
	[RwdName] [nvarchar](50) NULL,
	[RwdDesc] [nvarchar](50) NULL,
 CONSTRAINT [aaaaaRewards_PK] PRIMARY KEY NONCLUSTERED 
(
	[RewardId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Rewards] ([RewardId], [RwdName], [RwdDesc]) VALUES (1, N'Air Miles', NULL)
INSERT [dbo].[Rewards] ([RewardId], [RwdName], [RwdDesc]) VALUES (2, N'AeroPlan', NULL)
INSERT [dbo].[Rewards] ([RewardId], [RwdName], [RwdDesc]) VALUES (3, N'AeroPlan Gold', NULL)
/****** Object:  Table [dbo].[Regions]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[RegionId] [nvarchar](5) NOT NULL,
	[RegionName] [nvarchar](25) NULL,
 CONSTRAINT [aaaaaRegions_PK] PRIMARY KEY NONCLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Regions] ([RegionId], [RegionName]) VALUES (N'AFR', N'Africa                   ')
INSERT [dbo].[Regions] ([RegionId], [RegionName]) VALUES (N'ANZ', N'Australia & New Zealand  ')
INSERT [dbo].[Regions] ([RegionId], [RegionName]) VALUES (N'ASIA', N'Asia                     ')
/****** Object:  Table [dbo].[TripTypes]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripTypes](
	[TripTypeId] [nvarchar](1) NOT NULL,
	[TTName] [nvarchar](25) NULL,
 CONSTRAINT [aaaaaTripTypes_PK] PRIMARY KEY NONCLUSTERED 
(
	[TripTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TripTypes] ([TripTypeId], [TTName]) VALUES (N'B', N'Business                 ')
INSERT [dbo].[TripTypes] ([TripTypeId], [TTName]) VALUES (N'G', N'Group                    ')
INSERT [dbo].[TripTypes] ([TripTypeId], [TTName]) VALUES (N'L', N'Leisure                  ')
/****** Object:  Table [dbo].[Suppliers]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] NOT NULL,
	[SupName] [nvarchar](255) NULL,
 CONSTRAINT [aaaaaSuppliers_PK] PRIMARY KEY NONCLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [SupplierId] ON [dbo].[Suppliers] 
(
	[SupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[Suppliers] ([SupplierId], [SupName]) VALUES (69, N'NEW CONCEPTS - CANADA')
INSERT [dbo].[Suppliers] ([SupplierId], [SupName]) VALUES (80, N'CHAT / TRAVELINE')
INSERT [dbo].[Suppliers] ([SupplierId], [SupName]) VALUES (100, N'AVILA TOURS INC.')
/****** Object:  Table [dbo].[SupplierContacts]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierContacts](
	[SupplierContactId] [int] NOT NULL,
	[SupConFirstName] [nvarchar](50) NULL,
	[SupConLastName] [nvarchar](50) NULL,
	[SupConCompany] [nvarchar](255) NULL,
	[SupConAddress] [nvarchar](255) NULL,
	[SupConCity] [nvarchar](255) NULL,
	[SupConProv] [nvarchar](255) NULL,
	[SupConPostal] [nvarchar](255) NULL,
	[SupConCountry] [nvarchar](255) NULL,
	[SupConBusPhone] [nvarchar](50) NULL,
	[SupConFax] [nvarchar](50) NULL,
	[SupConEmail] [nvarchar](255) NULL,
	[SupConURL] [nvarchar](255) NULL,
	[AffiliationId] [nvarchar](10) NULL,
	[SupplierId] [int] NULL,
 CONSTRAINT [aaaaaSupplierContacts_PK] PRIMARY KEY NONCLUSTERED 
(
	[SupplierContactId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [AffiliationsSupCon] ON [dbo].[SupplierContacts] 
(
	[AffiliationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [SuppliersSupCon] ON [dbo].[SupplierContacts] 
(
	[SupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[SupplierContacts] ([SupplierContactId], [SupConFirstName], [SupConLastName], [SupConCompany], [SupConAddress], [SupConCity], [SupConProv], [SupConPostal], [SupConCountry], [SupConBusPhone], [SupConFax], [SupConEmail], [SupConURL], [AffiliationId], [SupplierId]) VALUES (16, NULL, NULL, N'PACIFIC WINGS: Oahu-Molokai-Maui-Hawaii', N' ', N' ', N' ', N' ', N' ', NULL, NULL, N' ', N'http://www.newconcepts.ca', NULL, 69)
INSERT [dbo].[SupplierContacts] ([SupplierContactId], [SupConFirstName], [SupConLastName], [SupConCompany], [SupConAddress], [SupConCity], [SupConProv], [SupConPostal], [SupConCountry], [SupConBusPhone], [SupConFax], [SupConEmail], [SupConURL], [AffiliationId], [SupplierId]) VALUES (17, NULL, NULL, N'WINAIR / WINDWARD ISLANDS AIRWAYS INTERNATIONAL', N' ', N' ', N' ', N' ', N' ', NULL, NULL, N' ', N'http://www.newconcepts.ca', NULL, 69)
INSERT [dbo].[SupplierContacts] ([SupplierContactId], [SupConFirstName], [SupConLastName], [SupConCompany], [SupConAddress], [SupConCity], [SupConProv], [SupConPostal], [SupConCountry], [SupConBusPhone], [SupConFax], [SupConEmail], [SupConURL], [AffiliationId], [SupplierId]) VALUES (18, N'A.', N'Haziza', N'NEW CONCEPTS - CANADA', N'1595 Calverton Court', N'Mississauga', N'ON', N'L5G 2W4', N' ', N'9052748508', N'9052714603', N'alhaziza@newconcepts.ca', N'http://www.newconcepts.ca', N'ACTAPGY', 69)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[Products_Suppliers]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_Suppliers](
	[ProductSupplierId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[SupplierId] [int] NULL,
 CONSTRAINT [aaaaaProducts_Suppliers_PK] PRIMARY KEY NONCLUSTERED 
(
	[ProductSupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Product Supplier ID] ON [dbo].[Products_Suppliers] 
(
	[SupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ProductId] ON [dbo].[Products_Suppliers] 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ProductsProducts_Suppliers1] ON [dbo].[Products_Suppliers] 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ProductSupplierId] ON [dbo].[Products_Suppliers] 
(
	[ProductSupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [SuppliersProducts_Suppliers1] ON [dbo].[Products_Suppliers] 
(
	[SupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products_Suppliers] ON
INSERT [dbo].[Products_Suppliers] ([ProductSupplierId], [ProductId], [SupplierId]) VALUES (1, 1, 5492)
INSERT [dbo].[Products_Suppliers] ([ProductSupplierId], [ProductId], [SupplierId]) VALUES (2, 1, 6505)
INSERT [dbo].[Products_Suppliers] ([ProductSupplierId], [ProductId], [SupplierId]) VALUES (3, 8, 796)
SET IDENTITY_INSERT [dbo].[Products_Suppliers] OFF
/****** Object:  Table [dbo].[Agents]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[AgentId] [int] IDENTITY(1,1) NOT NULL,
	[AgtFirstName] [nvarchar](20) NULL,
	[AgtMiddleInitial] [nvarchar](5) NULL,
	[AgtLastName] [nvarchar](20) NULL,
	[AgtBusPhone] [nvarchar](20) NULL,
	[AgtEmail] [nvarchar](50) NULL,
	[AgtPosition] [nvarchar](20) NULL,
	[AgencyId] [int] NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[AgentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agents] ON
INSERT [dbo].[Agents] ([AgentId], [AgtFirstName], [AgtMiddleInitial], [AgtLastName], [AgtBusPhone], [AgtEmail], [AgtPosition], [AgencyId]) VALUES (1, N'Janet', NULL, N'Delton', N'(403) 210-7801', N'janet.delton@travelexperts.com', N'Senior Agent', 1)
INSERT [dbo].[Agents] ([AgentId], [AgtFirstName], [AgtMiddleInitial], [AgtLastName], [AgtBusPhone], [AgtEmail], [AgtPosition], [AgencyId]) VALUES (2, N'Judy', NULL, N'Lisle', N'(403) 210-7802', N'judy.lisle@travelexperts.com', N'Intermediate Agent', 1)
INSERT [dbo].[Agents] ([AgentId], [AgtFirstName], [AgtMiddleInitial], [AgtLastName], [AgtBusPhone], [AgtEmail], [AgtPosition], [AgencyId]) VALUES (3, N'Dennis', N'C.', N'Reynolds', N'(403) 210-7843', N'dennis.reynolds@travelexperts.com', N'Junior Agent', 1)
SET IDENTITY_INSERT [dbo].[Agents] OFF
/****** Object:  Table [dbo].[Packages_Products_Suppliers]    Script Date: 01/09/2015 09:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages_Products_Suppliers](
	[PackageId] [int] NOT NULL,
	[ProductSupplierId] [int] NOT NULL,
 CONSTRAINT [aaaaaPackages_Products_Suppliers_PK] PRIMARY KEY NONCLUSTERED 
(
	[PackageId] ASC,
	[ProductSupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [PackagesPackages_Products_Suppliers] ON [dbo].[Packages_Products_Suppliers] 
(
	[PackageId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Products_SuppliersPackages_Products_Suppliers] ON [dbo].[Packages_Products_Suppliers] 
(
	[ProductSupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ProductSupplierId] ON [dbo].[Packages_Products_Suppliers] 
(
	[ProductSupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[Packages_Products_Suppliers] ([PackageId], [ProductSupplierId]) VALUES (1, 65)
INSERT [dbo].[Packages_Products_Suppliers] ([PackageId], [ProductSupplierId]) VALUES (1, 93)
INSERT [dbo].[Packages_Products_Suppliers] ([PackageId], [ProductSupplierId]) VALUES (2, 32)
/****** Object:  UserDefinedFunction [dbo].[Find duplicates for Products_Suppliers]    Script Date: 01/09/2015 09:37:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Find duplicates for Products_Suppliers] () 
RETURNS TABLE 
AS RETURN (SELECT TOP 100 PERCENT Products_Suppliers.ProductId, Products_Suppliers.SupplierId, Products_Suppliers.ProductSupplierId
FROM Products_Suppliers
WHERE (((Products_Suppliers.ProductId) In (SELECT ProductId FROM Products_Suppliers As Tmp GROUP BY ProductId,SupplierId HAVING count(*)>1  And SupplierId = Products_Suppliers.SupplierId)))
ORDER BY Products_Suppliers.ProductId, Products_Suppliers.SupplierId)
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 01/09/2015 09:37:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustFirstName] [nvarchar](25) NOT NULL,
	[CustLastName] [nvarchar](25) NOT NULL,
	[CustAddress] [nvarchar](75) NOT NULL,
	[CustCity] [nvarchar](50) NOT NULL,
	[CustProv] [nvarchar](2) NOT NULL,
	[CustPostal] [nvarchar](7) NOT NULL,
	[CustCountry] [nvarchar](25) NULL,
	[CustHomePhone] [nvarchar](20) NULL,
	[CustBusPhone] [nvarchar](20) NOT NULL,
	[CustEmail] [nvarchar](50) NOT NULL,
	[AgentId] [int] NULL,
 CONSTRAINT [aaaaaCustomers_PK] PRIMARY KEY NONCLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [EmployeesCustomers] ON [dbo].[Customers] 
(
	[AgentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON
INSERT [dbo].[Customers] ([CustomerId], [CustFirstName], [CustLastName], [CustAddress], [CustCity], [CustProv], [CustPostal], [CustCountry], [CustHomePhone], [CustBusPhone], [CustEmail], [AgentId]) VALUES (104, N'Laetia', N'Enison', N'144-61 87th Ave, NE', N'Calgary', N'AB', N'T2J 6B6', N'Canada', N'4032791223', N'4032557865', N'                                                  ', 4)
INSERT [dbo].[Customers] ([CustomerId], [CustFirstName], [CustLastName], [CustAddress], [CustCity], [CustProv], [CustPostal], [CustCountry], [CustHomePhone], [CustBusPhone], [CustEmail], [AgentId]) VALUES (105, N'Angel', N'Moskowitz', N'320 John St., NE', N'Calgary', N'AB', N'T2J 7E3', N'Canada', N'4032794228', N'4036409874', N'amoskowitz@home.com                               ', 3)
INSERT [dbo].[Customers] ([CustomerId], [CustFirstName], [CustLastName], [CustAddress], [CustCity], [CustProv], [CustPostal], [CustCountry], [CustHomePhone], [CustBusPhone], [CustEmail], [AgentId]) VALUES (106, N'Judith', N'Olvsade', N'29 Elmwood Ave.,', N'Calgary', N'AB', N'T2Z 3M9', N'Canada', N'4032795652', N'4036861598', N'jolvsade@aol.com                                  ', 1)
SET IDENTITY_INSERT [dbo].[Customers] OFF

/****** Kyle - Add CustomerCartItems (customer shopping cart)  ******/

CREATE TABLE [dbo].[CustomerCartItem]
(
	CustomerCartItemId int identity(1,1),
	CustomerId int not null,
	PackageId int not null,
	CONSTRAINT CustomerCartItem_PK PRIMARY KEY(CustomerCartItemId),
	CONSTRAINT CustomerId_FK FOREIGN KEY (CustomerId) REFERENCES Customers(CustomerId),
	CONSTRAINT PackageId_FK FOREIGN KEY (PackageId) REFERENCES Packages(PackageId)

);
GO

INSERT [dbo].[CustomerCartItem] ([CustomerId], [PackageId]) VALUES (104, 1)
INSERT [dbo].[CustomerCartItem] ([CustomerId], [PackageId]) VALUES (104, 2)
INSERT [dbo].[CustomerCartItem] ([CustomerId], [PackageId]) VALUES (104, 3)
GO

/******************************** Kyle - Add Authentication Table  ******************************/
CREATE TABLE [dbo].[Authentication]
(
	[AuthenticationId] INT IDENTITY(1,1),
    [Username] VARCHAR(16) NOT NULL,
    [Password] VARCHAR(16) NOT NULL,
    [CustomerId] INT NOT NULL,
	CONSTRAINT Authentication_PK PRIMARY KEY(AuthenticationId),
	CONSTRAINT Auth_CustomerId_FK FOREIGN KEY (CustomerId) REFERENCES Customers(CustomerId)      
);
GO


INSERT [dbo].[Authentication] ([Username], [Password], [CustomerId]) VALUES ('hlopez', 'password', 118)
INSERT [dbo].[Authentication] ([Username], [Password], [CustomerId]) VALUES ('jlippen', 'password', 122)
INSERT [dbo].[Authentication] ([Username], [Password], [CustomerId]) VALUES ('jrunyan', 'password', 128)

/******************************** ******************************/



/****** Object:  Table [dbo].[Customers_Rewards]    Script Date: 01/09/2015 09:37:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers_Rewards](
	[CustomerId] [int] NOT NULL,
	[RewardId] [int] NOT NULL,
	[RwdNumber] [nvarchar](25) NOT NULL,
 CONSTRAINT [aaaaaCustomers_Rewards_PK] PRIMARY KEY NONCLUSTERED 
(
	[CustomerId] ASC,
	[RewardId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CustomersCustomers_Rewards] ON [dbo].[Customers_Rewards] 
(
	[CustomerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RewardsCustomers_Rewards] ON [dbo].[Customers_Rewards] 
(
	[RewardId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[Customers_Rewards] ([CustomerId], [RewardId], [RwdNumber]) VALUES (104, 1, N'123456 4322')
INSERT [dbo].[Customers_Rewards] ([CustomerId], [RewardId], [RwdNumber]) VALUES (104, 2, N'5435 678 CF')
INSERT [dbo].[Customers_Rewards] ([CustomerId], [RewardId], [RwdNumber]) VALUES (105, 2, N'1435 678 CA')
/****** Object:  Table [dbo].[CreditCards]    Script Date: 01/09/2015 09:37:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditCards](
	[CreditCardId] [int] IDENTITY(1,1) NOT NULL,
	[CCName] [nvarchar](10) NOT NULL,
	[CCNumber] [nvarchar](50) NOT NULL,
	[CCExpiry] [datetime] NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [aaaaaCreditCards_PK] PRIMARY KEY NONCLUSTERED 
(
	[CreditCardId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CustomersCreditCards] ON [dbo].[CreditCards] 
(
	[CustomerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CreditCards] ON
INSERT [dbo].[CreditCards] ([CreditCardId], [CCName], [CCNumber], [CCExpiry], [CustomerId]) VALUES (2, N'AMEX', N'12342324248393', CAST(0x0000935000000000 AS DateTime), 123)
INSERT [dbo].[CreditCards] ([CreditCardId], [CCName], [CCNumber], [CCExpiry], [CustomerId]) VALUES (26, N'AMEX', N'33454212345651', CAST(0x0000940300000000 AS DateTime), 127)
INSERT [dbo].[CreditCards] ([CreditCardId], [CCName], [CCNumber], [CCExpiry], [CustomerId]) VALUES (28, N'AMEX', N'3422343212433430', CAST(0x000093BB00000000 AS DateTime), 107)
SET IDENTITY_INSERT [dbo].[CreditCards] OFF
/****** Object:  Table [dbo].[Bookings]    Script Date: 01/09/2015 09:37:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[BookingDate] [datetime] NULL,
	[BookingNo] [nvarchar](50) NULL,
	[TravelerCount] [float] NULL,
	[CustomerId] [int] NULL,
	[TripTypeId] [nvarchar](1) NULL,
	[PackageId] [int] NULL,
 CONSTRAINT [aaaaaBookings_PK] PRIMARY KEY NONCLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [BookingsCustomerId] ON [dbo].[Bookings] 
(
	[CustomerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CustomersBookings] ON [dbo].[Bookings] 
(
	[CustomerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [PackageId] ON [dbo].[Bookings] 
(
	[PackageId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [PackagesBookings] ON [dbo].[Bookings] 
(
	[PackageId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [TripTypesBookings] ON [dbo].[Bookings] 
(
	[TripTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON
INSERT [dbo].[Bookings] ([BookingId], [BookingDate], [BookingNo], [TravelerCount], [CustomerId], [TripTypeId], [PackageId]) VALUES (11, CAST(0x0000903800000000 AS DateTime), N'DFS3', 1, 143, N'B', NULL)
INSERT [dbo].[Bookings] ([BookingId], [BookingDate], [BookingNo], [TravelerCount], [CustomerId], [TripTypeId], [PackageId]) VALUES (15, CAST(0x0000905900000000 AS DateTime), N'WDR898', 1, 135, N'L', NULL)
INSERT [dbo].[Bookings] ([BookingId], [BookingDate], [BookingNo], [TravelerCount], [CustomerId], [TripTypeId], [PackageId]) VALUES (17, CAST(0x0000905A00000000 AS DateTime), N'FES3', 1, 143, N'B', NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Bookings] OFF
/****** Object:  UserDefinedFunction [dbo].[Find duplicates for Bookings]    Script Date: 01/09/2015 09:37:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Find duplicates for Bookings] () 
RETURNS TABLE 
AS RETURN (SELECT TOP 100 PERCENT Bookings.BookingNo, Bookings.BookingId, Bookings.BookingDate
FROM Bookings
WHERE (((Bookings.BookingNo) In (SELECT BookingNo FROM Bookings As Tmp GROUP BY BookingNo HAVING count(*)>1 )))
ORDER BY Bookings.BookingNo)
GO
/****** Object:  Table [dbo].[BookingDetails]    Script Date: 01/09/2015 09:37:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDetails](
	[BookingDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ItineraryNo] [float] NULL,
	[TripStart] [datetime] NULL,
	[TripEnd] [datetime] NULL,
	[Description] [nvarchar](255) NULL,
	[Destination] [nvarchar](255) NULL,
	[BasePrice] [money] NULL,
	[AgencyCommission] [money] NULL,
	[BookingId] [int] NULL,
	[RegionId] [nvarchar](5) NULL,
	[ClassId] [nvarchar](5) NULL,
	[FeeId] [nvarchar](10) NULL,
	[ProductSupplierId] [int] NULL,
 CONSTRAINT [aaaaaBookingDetails_PK] PRIMARY KEY NONCLUSTERED 
(
	[BookingDetailId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Agency Fee Code] ON [dbo].[BookingDetails] 
(
	[FeeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [BookingId] ON [dbo].[BookingDetails] 
(
	[BookingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [BookingsBookingDetails] ON [dbo].[BookingDetails] 
(
	[BookingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ClassesBookingDetails] ON [dbo].[BookingDetails] 
(
	[ClassId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Dest ID] ON [dbo].[BookingDetails] 
(
	[RegionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [DestinationsBookingDetails] ON [dbo].[BookingDetails] 
(
	[RegionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [FeesBookingDetails] ON [dbo].[BookingDetails] 
(
	[FeeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Products_SuppliersBookingDetails] ON [dbo].[BookingDetails] 
(
	[ProductSupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ProductSupplierId] ON [dbo].[BookingDetails] 
(
	[ProductSupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BookingDetails] ON
INSERT [dbo].[BookingDetails] ([BookingDetailId], [ItineraryNo], [TripStart], [TripEnd], [Description], [Destination], [BasePrice], [AgencyCommission], [BookingId], [RegionId], [ClassId], [FeeId], [ProductSupplierId]) VALUES (11, 168, CAST(0x0000906500000000 AS DateTime), CAST(0x0000906A00000000 AS DateTime), N'Calgary/Vancouver/Calgary', N'Vancouver', 450.0000, 22.5000, 11, N'NA', N'FST', N'BK', 23)
INSERT [dbo].[BookingDetails] ([BookingDetailId], [ItineraryNo], [TripStart], [TripEnd], [Description], [Destination], [BasePrice], [AgencyCommission], [BookingId], [RegionId], [ClassId], [FeeId], [ProductSupplierId]) VALUES (15, 306, CAST(0x0000909A00000000 AS DateTime), CAST(0x000090B300000000 AS DateTime), N'all-inclusive European tour', N'London, England', 3000.0000, 112.5000, 15, N'EU', N'ECN', N'GR', 14)
INSERT [dbo].[BookingDetails] ([BookingDetailId], [ItineraryNo], [TripStart], [TripEnd], [Description], [Destination], [BasePrice], [AgencyCommission], [BookingId], [RegionId], [ClassId], [FeeId], [ProductSupplierId]) VALUES (16, 306, CAST(0x0000909A00000000 AS DateTime), CAST(0x000090B300000000 AS DateTime), N'all-inclusive European tour', N'London, England', 3000.0000, 112.5000, 15, N'EU', N'ECN', N'GR', 14)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[BookingDetails] OFF
/****** Object:  Default [DF__Fees__FeeAmt__1B0907CE]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[Fees] ADD  CONSTRAINT [DF__Fees__FeeAmt__1B0907CE]  DEFAULT (0) FOR [FeeAmt]
GO
/****** Object:  Default [DF__Packages__PkgBas__76CBA758]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[Packages] ADD  CONSTRAINT [DF__Packages__PkgBas__76CBA758]  DEFAULT (0) FOR [PkgBasePrice]
GO
/****** Object:  Default [DF__Packages__PkgAge__77BFCB91]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[Packages] ADD  CONSTRAINT [DF__Packages__PkgAge__77BFCB91]  DEFAULT (0) FOR [PkgAgencyCommission]
GO
/****** Object:  Default [DF__Rewards__RewardI__35BCFE0A]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[Rewards] ADD  CONSTRAINT [DF__Rewards__RewardI__35BCFE0A]  DEFAULT (0) FOR [RewardId]
GO
/****** Object:  Default [DF__Suppliers__Suppl__3F466844]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF__Suppliers__Suppl__3F466844]  DEFAULT (0) FOR [SupplierId]
GO
/****** Object:  Default [DF__SupplierC__Suppl__3A81B327]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[SupplierContacts] ADD  CONSTRAINT [DF__SupplierC__Suppl__3A81B327]  DEFAULT (0) FOR [SupplierId]
GO
/****** Object:  Default [DF__Products___Produ__2D27B809]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[Products_Suppliers] ADD  CONSTRAINT [DF__Products___Produ__2D27B809]  DEFAULT (0) FOR [ProductId]
GO
/****** Object:  Default [DF__Packages___Packa__239E4DCF]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[Packages_Products_Suppliers] ADD  CONSTRAINT [DF__Packages___Packa__239E4DCF]  DEFAULT (0) FOR [PackageId]
GO
/****** Object:  Default [DF__Packages___Produ__24927208]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[Packages_Products_Suppliers] ADD  CONSTRAINT [DF__Packages___Produ__24927208]  DEFAULT (0) FOR [ProductSupplierId]
GO
/****** Object:  Default [DF__Customers__Rewar__1273C1CD]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[Customers_Rewards] ADD  CONSTRAINT [DF__Customers__Rewar__1273C1CD]  DEFAULT (0) FOR [RewardId]
GO
/****** Object:  Default [DF__Bookings__Packag__023D5A04]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF__Bookings__Packag__023D5A04]  DEFAULT (0) FOR [PackageId]
GO
/****** Object:  Default [DF__BookingDe__Booki__7C8480AE]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[BookingDetails] ADD  CONSTRAINT [DF__BookingDe__Booki__7C8480AE]  DEFAULT (0) FOR [BookingId]
GO
/****** Object:  Default [DF__BookingDe__Produ__7D78A4E7]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[BookingDetails] ADD  CONSTRAINT [DF__BookingDe__Produ__7D78A4E7]  DEFAULT (0) FOR [ProductSupplierId]
GO
/****** Object:  ForeignKey [SupplierContacts_FK00]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[SupplierContacts]  WITH CHECK ADD  CONSTRAINT [SupplierContacts_FK00] FOREIGN KEY([AffiliationId])
REFERENCES [dbo].[Affiliations] ([AffilitationId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SupplierContacts] CHECK CONSTRAINT [SupplierContacts_FK00]
GO
/****** Object:  ForeignKey [SupplierContacts_FK01]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[SupplierContacts]  WITH CHECK ADD  CONSTRAINT [SupplierContacts_FK01] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SupplierContacts] CHECK CONSTRAINT [SupplierContacts_FK01]
GO
/****** Object:  ForeignKey [Products_Suppliers_FK00]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[Products_Suppliers]  WITH CHECK ADD  CONSTRAINT [Products_Suppliers_FK00] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products_Suppliers] CHECK CONSTRAINT [Products_Suppliers_FK00]
GO
/****** Object:  ForeignKey [Products_Suppliers_FK01]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[Products_Suppliers]  WITH CHECK ADD  CONSTRAINT [Products_Suppliers_FK01] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products_Suppliers] CHECK CONSTRAINT [Products_Suppliers_FK01]
GO
/****** Object:  ForeignKey [FK_Agents_Agencies]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[Agents]  WITH CHECK ADD  CONSTRAINT [FK_Agents_Agencies] FOREIGN KEY([AgencyId])
REFERENCES [dbo].[Agencies] ([AgencyId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Agents] CHECK CONSTRAINT [FK_Agents_Agencies]
GO
/****** Object:  ForeignKey [Packages_Products_Supplie_FK00]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[Packages_Products_Suppliers]  WITH CHECK ADD  CONSTRAINT [Packages_Products_Supplie_FK00] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Packages] ([PackageId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Packages_Products_Suppliers] CHECK CONSTRAINT [Packages_Products_Supplie_FK00]
GO
/****** Object:  ForeignKey [Packages_Products_Supplie_FK01]    Script Date: 01/09/2015 09:37:39 ******/
ALTER TABLE [dbo].[Packages_Products_Suppliers]  WITH CHECK ADD  CONSTRAINT [Packages_Products_Supplie_FK01] FOREIGN KEY([ProductSupplierId])
REFERENCES [dbo].[Products_Suppliers] ([ProductSupplierId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Packages_Products_Suppliers] CHECK CONSTRAINT [Packages_Products_Supplie_FK01]
GO
/****** Object:  ForeignKey [FK_Customers_Agents]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([AgentId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Agents]
GO
/****** Object:  ForeignKey [Customers_Rewards_FK00]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[Customers_Rewards]  WITH CHECK ADD  CONSTRAINT [Customers_Rewards_FK00] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Customers_Rewards] CHECK CONSTRAINT [Customers_Rewards_FK00]
GO
/****** Object:  ForeignKey [Customers_Rewards_FK01]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[Customers_Rewards]  WITH CHECK ADD  CONSTRAINT [Customers_Rewards_FK01] FOREIGN KEY([RewardId])
REFERENCES [dbo].[Rewards] ([RewardId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Customers_Rewards] CHECK CONSTRAINT [Customers_Rewards_FK01]
GO
/****** Object:  ForeignKey [CreditCards_FK00]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[CreditCards]  WITH CHECK ADD  CONSTRAINT [CreditCards_FK00] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CreditCards] CHECK CONSTRAINT [CreditCards_FK00]
GO
/****** Object:  ForeignKey [Bookings_FK00]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [Bookings_FK00] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [Bookings_FK00]
GO
/****** Object:  ForeignKey [Bookings_FK01]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [Bookings_FK01] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Packages] ([PackageId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [Bookings_FK01]
GO
/****** Object:  ForeignKey [Bookings_FK02]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [Bookings_FK02] FOREIGN KEY([TripTypeId])
REFERENCES [dbo].[TripTypes] ([TripTypeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [Bookings_FK02]
GO
/****** Object:  ForeignKey [FK_BookingDetails_Bookings]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [FK_BookingDetails_Bookings]
GO
/****** Object:  ForeignKey [FK_BookingDetails_Classes]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([ClassId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [FK_BookingDetails_Classes]
GO
/****** Object:  ForeignKey [FK_BookingDetails_Fees]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_Fees] FOREIGN KEY([FeeId])
REFERENCES [dbo].[Fees] ([FeeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [FK_BookingDetails_Fees]
GO
/****** Object:  ForeignKey [FK_BookingDetails_Products_Suppliers]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_Products_Suppliers] FOREIGN KEY([ProductSupplierId])
REFERENCES [dbo].[Products_Suppliers] ([ProductSupplierId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [FK_BookingDetails_Products_Suppliers]
GO
/****** Object:  ForeignKey [FK_BookingDetails_Regions]    Script Date: 01/09/2015 09:37:41 ******/
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_Regions] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([RegionId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [FK_BookingDetails_Regions]
GO
