
    @if (User.Identity.IsAuthenticated)
    {
        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-action="/Home/Index" title="Welcome">
                    Welcome @User.Identity.Name
                </a>
            </li>*@
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form class="form-inline" asp-controller="Package" asp-action="Purchases">
                    <input class="nav-link btn btn-link text-dark" type="submit" value="Shopping Cart" />
                </form>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl=@Url.Action("Index", "Home")>
                    <input class="nav-link btn btn-link text-dark" type="submit" value="Logout" />
                </form>

            </li>
            @*<li class="nav-item">
                    <form class="form-inline" asp-route-id="@User.Claims.FirstOrDefault(c => c.Type == "AuthId").Value" asp-controller="Account" asp-action="Edit" asp-route-returnUrl=@Url.Action("Edit", "Account")>
                        <input class="nav-link btn btn-link text-dark" type="submit" value="Edit My Profile" />
                    </form>

                </li>*@
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Edit"
                   asp-route-Id="@User.Claims.FirstOrDefault(c => c.Type == "AuthId").Value">Edit My Account</a>
            </li>
        </ul>
    }
    else
    {
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Create">Register</a>
            </li>            
        </ul>
    }
