@model TravelExperts.Data.Domain.Authentication

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Authentication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustFirstName" class="control-label"></label>
                <input asp-for="Customer.CustFirstName" class="form-control" />
                <span asp-validation-for="Customer.CustFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustLastName" class="control-label"></label>
                <input asp-for="Customer.CustLastName" class="form-control" />
                <span asp-validation-for="Customer.CustLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustAddress" class="control-label"></label>
                <input asp-for="Customer.CustAddress" class="form-control" />
                <span asp-validation-for="Customer.CustAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustCity" class="control-label"></label>
                <input asp-for="Customer.CustCity" class="form-control" />
                <span asp-validation-for="Customer.CustCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustProv" class="control-label"></label>
                <input asp-for="Customer.CustProv" class="form-control" />
                <span asp-validation-for="Customer.CustProv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustPostal" class="control-label"></label>
                <input asp-for="Customer.CustPostal" class="form-control" />
                <span asp-validation-for="Customer.CustPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustCountry" class="control-label"></label>
                <input asp-for="Customer.CustCountry" class="form-control" />
                <span asp-validation-for="Customer.CustCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustHomePhone" class="control-label"></label>
                <input asp-for="Customer.CustHomePhone" class="form-control" />
                <span asp-validation-for="Customer.CustHomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustBusPhone" class="control-label"></label>
                <input asp-for="Customer.CustBusPhone" class="form-control" />
                <span asp-validation-for="Customer.CustBusPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustEmail" class="control-label"></label>
                <input asp-for="Customer.CustEmail" class="form-control" />
                <span asp-validation-for="Customer.CustEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
