@model IEnumerable<TravelExperts.MVCApp.Models.HomeViewModel>
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Travel Experts</h1>
    <p>Book your dream vacation today!</p>
    <br />
    
    <p>Register to find out more!</p>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/HomeCanoe.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Discover new destinations</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/HomeCruiseShip.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Bring your family</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/HomeDockView.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Rejuvenate your soul</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/HomePlaneWingView.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Travel by Air</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/HomeTourBus.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Travel by bus</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/HomeUmbrellas.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Enjoy the sites</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>




 


